{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_messages %}

{% block title %}
	Edit profile
{% endblock %}

{% block content %}
    <section>
        <div class="container py-5 rounded border border-bottom-0 border-top-0 border-secondary-subtle">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if request.user.profile.photo %}
                            <img id="preview" class="rounded-circle mt-5" width="200px"
                                 src="{{ request.user.profile.photo.url }}" alt="ava">
                        {% else %}
                            <img id="preview" class="rounded-circle mt-5" width="200px"
                                 src="{% static 'images/no_image.jpg' %}" alt="ava">
                        {% endif %}
                        <br>
                        <span class="font-weight-bold">{{ request.user.username }}</span>
                        <span class="text-white-50">{{ request.user.email }}</span>
                    </div>
                </div>
                <div class="col-md-5 border-dark">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Edit profile</h4>
                            <a class="btn btn-outline-primary" href="{% url 'password_change' %}" role="button">
                                <i class="fa-solid fa-right-long"></i>
                            </a>
                        </div>
                        <form action="{% url 'edit' %}" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form user_form show_help=False %}
                            {% bootstrap_form profile_form %}
                            {% bootstrap_button "Save" button_type="submit" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}