{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block title %}
    Messages
{% endblock %}

{#{% block content %}#}
{#    <form action="{% url 'messages' user.username %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" value="send"></button>#}
{#    </form>#}
{#    {{ request.user }}#}
{#    {{ user }}#}
{#{% endblock %}#}



{% block content %}

{#    <form action="{% url 'messages' user.username %}" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" value="send"></button>#}
{#    </form>#}

{#    {% for message in messages %}#}
{#        {{ message.sender }}#}
{#        {{ message.message }}#}
{#    {% endfor %}#}

    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-header d-flex justify-content-start align-items-center p-3 bg-secondary text-light border-bottom-0">
                        {% thumbnail user.profile.photo "40x40" crop="100%" as im %}
                            <a href="{% url 'user_detail' user %}">
                                <img class="item-img rounded-circle shadow-1-strong me-3" src="{{ im.url }}" alt="" />
                            </a>
                        <a href="{% url 'user_detail' user %}" class="fw-bold mb-0 ms-3" style="text-decoration: none; color: #ffda6a">{{ user }}</a>
                    </div>

                    <div class="card-body-message">
                        {% for message in messages %}
                            {% if message.sender == user %}
                            <div class="d-flex flex-row justify-content-start mb-4">
                                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                    <p class="small mb-0">{{ message.message }}</p>
                                    <small class="text-muted">{{ message.sent_at|date:"H:i" }}</small>
                                </div>
                            </div>
                            {% else %}
                                <div class="d-flex flex-row justify-content-end mb-4">
                                    <div class="p-3 me-3 border" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                        <p class="small mb-0">{{ message.message }}</p>
                                        <small class="text-muted">{{ message.sent_at|date:"H:i" }}</small>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <form action="{% url 'messages' user.username %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form show_label=False %}
                    {% bootstrap_button "Send" button_type="submit" size='sm' extra_classes='px-4' button_class="btn-outline-success" %}
                </form>

            </div>
        </div>
    </div>

{#    <div class="container py-5">#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-md-6 col-lg-5 col-xl-6 mb-4 mb-md-0">#}
{#                <div class="card mask-custom">#}
{#                    <div class="card-body">#}
{##}
{#                        <a href="#" class="d-flex justify-content-between link-light">#}
{#                            <div class="d-flex flex-row">#}
{#                                {% thumbnail user.profile.photo "60x0" as im %}#}
{#                                    <a href="{% url 'user_detail' user %}">#}
{#                                        <img class="item-img rounded-circle shadow-1-strong me-3" src="{{ im.url }}" alt="" />#}
{#                                    </a>#}
{#                                <div class="pt-1">#}
{#                                    <p class="fw-bold mb-0">{{ user }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{##}
{#                            <div class="pt-1">#}
{#                                <p class="small text-white mb-1">{{ message }}</p>#}
{#                                <span class="badge bg-danger float-end">1</span>#}
{#                            </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#                            <ul class="list-unstyled mb-0">#}
{#                                <li class="p-2">#}
{#                                    <a href="#!" class="d-flex justify-content-between link-light">#}
{#                                        <div class="d-flex flex-row">#}
{#                                            {% thumbnail user.profile.photo "80x80" crop="100%" as im %}#}
{#                                                <a href="#">#}
{#                                                    <img class="item-img rounded-circle shadow-1-strong me-3" src="{{ im.url }}" alt="" />#}
{#                                                </a>#}
{#                                            <div class="pt-1">#}
{#                                                <p class="fw-bold mb-0">USERNAME</p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="pt-1">#}
{#                                            <p class="small text-white mb-1">Just now</p>#}
{#                                            <span class="badge bg-danger float-end">1</span>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-6 col-lg-7 col-xl-7">#}
{##}
{#                    <ul class="list-unstyled text-white">#}
{#                        <li class="d-flex justify-content-between mb-4">#}
{#                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar"#}
{#                                 class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">#}
{#                            <div class="card mask-custom">#}
{#                                <div class="card-header d-flex justify-content-between p-3"#}
{#                                     style="border-bottom: 1px solid rgba(255,255,255,.3);">#}
{#                                    <p class="fw-bold mb-0">Brad Pitt</p>#}
{#                                    <p class="text-light small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        #}
{#                        <li class="d-flex justify-content-between mb-4">#}
{#                            <div class="card mask-custom w-100">#}
{#                                <div class="card-header d-flex justify-content-between p-3">#}
{#                                    <p class="fw-bold mb-0">Lara Croft</p>#}
{#                                    <p class="text-light small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>#}
{#                                </div>#}
{#                                <div class="card-body">#}
{#                                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"#}
{#                                 class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">#}
{#                        </li>#}
{##}
{#                        <li class="mb-3">#}
{#                            <div class="form-outline form-white">#}
{#                                <textarea class="form-control" id="textAreaExample3" rows="4"></textarea>#}
{#                                <label class="form-label" for="textAreaExample3">Message</label>#}
{#                            </div>#}
{#                        </li>#}
{#                        #}
{#                        <button type="button" class="btn btn-light btn-lg btn-rounded float-end">Send</button>#}
{#                        #}
{#                    </ul>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{% endblock %}

{% block domready %}
	window.onload = function() {
        var objDiv = document.querySelector(".card-body-message");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
{% endblock %}