{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block title %}
    Messages
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-header d-flex justify-content-start align-items-center p-3 bg-secondary text-light border-bottom-0">
                        {% thumbnail user.profile.photo "40x40" crop="100%" as im %}
                            <a href="{% url 'user_detail' user %}">
                                <img class="item-img rounded-circle shadow-1-strong me-3" src="{{ im.url }}" alt="" />
                            </a>
                        <a href="{% url 'user_detail' user %}" class="fw-bold mb-0 ms-3" style="text-decoration: none; color: #ffda6a">{{ user }}</a>
                    </div>

                    <div class="card-body-message">
                        {% for message in messages %}
                            {% if message.sender == user %}
                            <div class="d-flex flex-row justify-content-start mb-4">
                                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                    <p class="small mb-0">{{ message.message }}</p>
                                    <small class="text-muted">{{ message.sent_at|date:"H:i" }}</small>
                                </div>
                            </div>
                            {% else %}
                                <div class="d-flex flex-row justify-content-end mb-4">
                                    <div class="p-3 me-3 border" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                        <p class="small mb-0">{{ message.message }}</p>
                                        <small class="text-muted">{{ message.sent_at|date:"H:i" }}</small>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <form action="{% url 'messages' user.username %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form show_label=False %}
                    {% bootstrap_button "Send" button_type="submit" size='sm' extra_classes='px-4' button_class="btn-outline-success" %}
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block domready %}
	window.onload = function() {
        var objDiv = document.querySelector(".card-body-message");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
{% endblock %}