{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile of {{ user }}
{% endblock %}

{% block content %}
    <div class="container border border-start-0 border-end-0">
        <div class="d-flex align-items-center" style="padding-left: 82px;">
            <div class="p-2">
                {% if user.profile.photo %}
                    <img id="preview" class="rounded-circle py-4" width="200px"
                         src="{{ user.profile.photo.url }}" alt="ava">
                {% else %}
                    <img id="preview" class="rounded-circle py-4" width="200px"
						src="{% static 'images/no_image.jpg' %}" alt="ava">
                {% endif %}
            </div>
            <div class="p-5">
                <h1 class="text-warning">{{ user.username }}</h1>
                {% with total_followers=user.followers.count %}
                	<span class="count">
                        <span class="total">{{ total_followers }}</span>
                        follower{{ total_followers|pluralize }}
                    </span>
                    <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
                        {% if request.user not in user.followers.all %}
                        	Follow
                        {% else %}
                        	Unfollow
                        {% endif %} 
                    </a>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if request.user == user %}
                    <div style="display: flex; flex-wrap: wrap; justify-content: center">
                        {% for album in albums_all %}
                            <div style="flex: 0 0 20%; margin: 1em; text-align: center;">
                                <div class="card shadow-sm">
                                    {% with first_image=album.images.all|first %}
                                        <a href="{% url 'album:album_detail' album.id %}" style="position: relative; display: inline-block;">
                                            <img src="{{ first_image.image.url }}" width="100%" alt="">
                                            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; background: rgba(0, 0, 0, 0.5); padding: 10px;">
                                                View album
                                            </div>
                                        </a>
                                    {% endwith %}
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text fw-bold text-warning">{{ album.title }}</p>
                                            {% if request.user == album.author %}
                                                {%  if album.get_status_display == 'Private' %}
                                                    <p class="card-text text-danger-emphasis">
                                                        {{ album.get_status_display }}
                                                    </p>
                                                {% else %}
                                                    <p class="card-text text-success-emphasis">
                                                        {{ album.get_status_display }}
                                                    </p>
                                                {% endif %}
                                            {% else %}
                                                <p class="card-text text-secondary-emphasis">{{ album.author }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">{{ album.publish|date:"F d, Y" }}</small>
                                            {% with total_likes=album.users_like.count users_like=album.users_like.all %}
                                                <span class="count">
                                                    <span class="total">{{ total_likes }}</span>
                                                    <i class="fa-solid fa-heart text-danger"></i>
                                                </span>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div style="display: flex; flex-wrap: wrap; justify-content: center">
                        {% for album in albums_pub %}
                            <div style="flex: 0 0 20%; margin: 1em; text-align: center;">
                                <div class="card shadow-sm">
                                    {% with first_image=album.images.all|first %}
                                        <a href="{% url 'album:album_detail' album.id %}" style="position: relative; display: inline-block;">
                                            <img src="{{ first_image.image.url }}" width="100%" alt="">
                                            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; background: rgba(0, 0, 0, 0.5); padding: 10px;">
                                                View album
                                            </div>
                                        </a>
                                    {% endwith %}
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text fw-bold text-warning">{{ album.title }}</p>
                                            {% if request.user == album.author %}
                                                {%  if album.get_status_display == 'Private' %}
                                                    <p class="card-text text-danger-emphasis">
                                                        {{ album.get_status_display }}
                                                    </p>
                                                {% else %}
                                                    <p class="card-text text-success-emphasis">
                                                        {{ album.get_status_display }}
                                                    </p>
                                                {% endif %}
                                            {% else %}
                                                <p class="card-text text-secondary-emphasis">{{ album.author }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">{{ album.publish|date:"F d, Y" }}</small>
                                            {% with total_likes=album.users_like.count users_like=album.users_like.all %}
                                                <span class="count">
                                                    <span class="total">{{ total_likes }}</span>
                                                    <i class="fa-solid fa-heart text-danger"></i>
                                                </span>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block domready %}
	var url = '{% url "user_follow" %}';
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }

    document.querySelector('a.follow').addEventListener('click', function(e){
        e.preventDefault();
        var followButton = this;

        var formData = new FormData();
        formData.append('id', followButton.dataset.id);
        formData.append('action', followButton.dataset.action);
        options['body'] = formData;

        fetch(url, options)
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'ok')
            {
                var previousAction = followButton.dataset.action;

                var action = previousAction === 'follow' ? 'unfollow' : 'follow';
                followButton.dataset.action = action;
                followButton.innerHTML = action;

                var followerCount = document.querySelector('span.count .total');
                var totalFollowers = parseInt(followerCount.innerHTML);
                followerCount.innerHTML = previousAction === 'follow' ? totalFollowers + 1 : totalFollowers - 1;
            }
        })
    });
{% endblock %}
