{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Profile of {{ user }}
{% endblock %}

{% block content %}
    
    <div class="container border border-start-0 border-end-0">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center p-3">
                    <div class="d-flex align-items-center justify-content-center">

                        <img id="preview" src="{% thumbnail user.profile.photo 200x200 crop="smart" %}" alt="Image" class="rounded-circle py-4">

                        <div class="p-4">
                            <h1 class="text-warning">{{ user.username }}</h1>
                            <p>
                                 {% with total_followers=user.followers.count %}
                                    <span class="count">
                                        <span class="total">{{ total_followers }}</span>
                                        follower{{ total_followers|pluralize }}
                                    </span>
                                {% endwith %}
                            </p>
                            <p>
                                {% if request.user.is_authenticated and request.user != user %}
                                    <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow"
                                       class="btn btn-outline-light follow button fw-bold">
                                        {% if request.user not in user.followers.all %}
                                            follow
                                        {% else %}
                                            unfollow
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </p>
                            {% if request.user != user %}
                                <a href="{% url 'messages' user.username %}">send message</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="albums-list">
        {% include 'account/user_albums_list.html' %}
    </div>
    
{% endblock %}


{% block domready %}
	var url = '{% url "user_follow" %}';
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }

    document.querySelector('a.follow').addEventListener('click', function(e){
        e.preventDefault();
        var followButton = this;

        var formData = new FormData();
        formData.append('id', followButton.dataset.id);
        formData.append('action', followButton.dataset.action);
        options['body'] = formData;

        fetch(url, options)
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'ok')
            {
                var previousAction = followButton.dataset.action;

                var action = previousAction === 'follow' ? 'unfollow' : 'follow';
                followButton.dataset.action = action;
                followButton.innerHTML = action;

                var followerCount = document.querySelector('span.count .total');
                var totalFollowers = parseInt(followerCount.innerHTML);
                followerCount.innerHTML = previousAction === 'follow' ? totalFollowers + 1 : totalFollowers - 1;
            }
        })
    });

    window.addEventListener('scroll', function (e) {
        const margin = document.body.clientHeight - window.innerHeight - 200;
        if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;

        fetch('?albums_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                }
                else {
                    const albumList = document.getElementById('albums-list');

                    albumList.insertAdjacentHTML('beforeend', html);
                    setupGallery();
                    blockRequest = false;
                }
            })
        }
    });
{% endblock %}