{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Profile of {{ user }}
{% endblock %}

{% block content %}
    <div class="container border border-start-0 border-end-0">
        <div class="d-flex align-items-center" style="padding-left: 82px;">
            <div class="p-2">
                {% if user.profile.photo %}
                    <img id="preview" class="rounded-circle py-4" width="200px"
                         src="{{ user.profile.photo.url }}" alt="ava">
                {% else %}
                    <img id="preview" class="rounded-circle py-4" width="200px"
						src="{% static 'images/no_image.jpg' %}" alt="ava">
                {% endif %}
            </div>
            <div class="p-5">
                <h1 class="text-warning">{{ user.username }}</h1>
                <p>{{ sum_likes }} like{{ sum_likes|pluralize }}</p>
                <p>{{ total_views }} view{{ total_views|pluralize }}</p>
                {% with total_followers=user.followers.count %}
                	<span class="count">
                        <span class="total">{{ total_followers }}</span>
                        follower{{ total_followers|pluralize }}
                    </span>
                    {% if request.user.is_authenticated and request.user != user %}
                        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
                            {% if request.user not in user.followers.all %}
                                Follow
                            {% else %}
                                Unfollow
                            {% endif %}
                        </a>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% if request.user == user %}
        <div id="actions">
            {% include 'actions/detail.html' %}
        </div>
    {% endif %}

    <div id="albums-list">
        {% include 'account/user_albums_list.html' %}
    </div>
{% endblock %}

{% block domready %}
	var url = '{% url "user_follow" %}';
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }

    document.querySelector('a.follow').addEventListener('click', function(e){
        e.preventDefault();
        var followButton = this;

        var formData = new FormData();
        formData.append('id', followButton.dataset.id);
        formData.append('action', followButton.dataset.action);
        options['body'] = formData;

        fetch(url, options)
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'ok')
            {
                var previousAction = followButton.dataset.action;

                var action = previousAction === 'follow' ? 'unfollow' : 'follow';
                followButton.dataset.action = action;
                followButton.innerHTML = action;

                var followerCount = document.querySelector('span.count .total');
                var totalFollowers = parseInt(followerCount.innerHTML);
                followerCount.innerHTML = previousAction === 'follow' ? totalFollowers + 1 : totalFollowers - 1;
            }
        })
    });

    window.addEventListener('scroll', function (e) {
        const margin = document.body.clientHeight - window.innerHeight - 200;
        if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;

        fetch('?albums_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                }
                else {
                    const albumList = document.getElementById('albums-list');

                    albumList.insertAdjacentHTML('beforeend', html);
                    setupGallery();
                    blockRequest = false;
                }
            })
        }
    });
{% endblock %}
