{% load static %}
{% load thumbnail %}

<div class="album py-5">
    <div class="container">
        <div class="row row-cols-4 g-4 justify-content-center">
            {% for album in albums %}
                {% if request.user == user %}
                    {% with first_image=album.images.all|first %}
                        <div class="col">
                            {% if first_image %}
                                <a href="{% url 'album:album_detail' album.id %}">
                                    <img src="{% thumbnail first_image.image 305x300 crop="smart" %}" alt="">
                                </a>
                            {% else %}
                                <img src="{% static 'images/no_image.jpg' %}" width="100%" alt="">
                            {% endif %}
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text fw-bold">
                                            <a href="{% url 'album:album_detail' album.id %}" style="text-decoration: none; color: #ffc107;">{{ album.title }}</a>
                                        </p>
                                        <a href="{% url 'user_detail' album.author %}" style="text-decoration: none">{{ album.author }}</a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <small class="text-muted">{{ album.total_views }} view{{ album.total_views|pluralize }}</small>
                                        {% with album.comments.count as total_comments %}
                                            <span class="text-muted"><i class="fa-solid fa-comment-dots"></i> {{ total_comments }}</span>
                                        {% endwith %}
                                        {% with total_likes=album.users_like.count users_like=album.users_like.all %}
                                            <span class="count">
                                                    <span class="total">{{ total_likes }}</span>
                                                    <i class="fa-solid fa-heart text-danger"></i>
                                                </span>
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% elif album.status == 'PB' %}
                    {% with first_image=album.images.all|first %}
                        <div class="col">
                            <a href="{% url 'album:album_detail' album.id %}">
                                <img src="{% thumbnail first_image.image 305x300 crop="smart" %}" alt="">
                            </a>
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text fw-bold">
                                            <a href="{% url 'album:album_detail' album.id %}" style="text-decoration: none; color: #ffc107;">{{ album.title }}</a>
                                        </p>
                                        <a href="{% url 'user_detail' album.author %}" style="text-decoration: none">{{ album.author }}</a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <small class="text-muted">{{ album.total_views }} view{{ album.total_views|pluralize }}</small>
                                        {% with album.comments.count as total_comments %}
                                            <span class="text-muted"><i class="fa-solid fa-comment-dots"></i> {{ total_comments }}</span>
                                        {% endwith %}
                                        {% with total_likes=album.users_like.count users_like=album.users_like.all %}
                                            <span class="count">
                                                    <span class="total">{{ total_likes }}</span>
                                                    <i class="fa-solid fa-heart text-danger"></i>
                                                </span>
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{#                    <div class="col">#}
{#                        <div class="card shadow-sm">#}
{#                            <div class="card-body">#}
{#                                <div class="d-flex justify-content-between">#}
{#                                    <p class="card-text fw-bold">#}
{#                                        <a href="{% url 'album:album_detail' album.id %}" style="text-decoration: none; color: #ffc107;">{{ album.title }}</a>#}
{#                                    </p>#}
{#                                    <a href="{% url 'user_detail' album.author %}" style="text-decoration: none">{{ album.author }}</a>#}
{#                                </div>#}
{#                                <div class="d-flex justify-content-between align-items-center">#}
{#                                    <small class="text-muted">{{ album.total_views }} view{{ album.total_views|pluralize }}</small>#}
{#                                    {% with album.comments.count as total_comments %}#}
{#                                        <span class="text-muted"><i class="fa-solid fa-comment-dots"></i> {{ total_comments }}</span>#}
{#                                    {% endwith %}#}
{#                                    {% with total_likes=album.users_like.count users_like=album.users_like.all %}#}
{#                                        <span class="count">#}
{#                                            <span class="total">{{ total_likes }}</span>#}
{#                                            <i class="fa-solid fa-heart text-danger"></i>#}
{#                                        </span>#}
{#                                    {% endwith %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}


{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-sm-12 border">#}
{#            <div style="display: flex; flex-wrap: wrap; justify-content: center">#}
{#                {% for album in albums %}#}
{#                    {% if request.user == user %}#}
{#                        <div style="flex: 0 0 20%; margin: 1em; text-align: center;">#}
{#                            <div class="card shadow-sm">#}
{#                                {% with first_image=album.images.all|first %}#}
{#                                    <a href="{% url 'album:album_detail' album.id %}"#}
{#                                       style="position: relative; display: inline-block;">#}
{#                                        {% if first_image %}#}
{#                                            <img src="{{ first_image.image.url }}" width="100%" alt="">#}
{#                                        {% else %}#}
{#                                            <img src="{% static 'images/no_image.jpg' %}" width="100%" alt="">#}
{#                                        {% endif %}#}
{#                                    </a>#}
{#                                {% endwith %}#}
{##}
{#                                <div class="card-body">#}
{##}
{#                                    <div class="d-flex justify-content-between">#}
{#                                        <p class="card-text fw-bold text-warning">{{ album.title }}</p>#}
{#                                            {% if album.get_status_display == 'Private' %}#}
{#                                                <p class="card-text text-danger-emphasis">{{ album.get_status_display }}</p>#}
{#                                            {% else %}#}
{#                                                <p class="card-text text-success-emphasis">{{ album.get_status_display }}</p>#}
{#                                            {% endif %}#}
{#                                    </div>#}
{##}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <span class="text-muted">{{ album.total_views }} <i class="fa-solid fa-eye fa-sm"></i></span>#}
{##}
{#                                        {% with album.comments.count as total_comments %}#}
{#                                        	<span class="text-muted"><i class="fa-solid fa-comment-dots"></i> {{ total_comments }}</span>#}
{#                                        {% endwith %}#}
{##}
{#                                        {% with total_likes=album.users_like.count users_like=album.users_like.all %}#}
{#                                            <span class="count">#}
{#                                                <span class="total">{{ total_likes }}</span>#}
{#                                                <i class="fa-solid fa-heart text-danger"></i>#}
{#                                            </span>#}
{#                                        {% endwith %}#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    {% elif album.status == 'PB' %}#}
{##}
{#                        <div style="flex: 0 0 20%; margin: 1em; text-align: center;">#}
{#                            <div class="card shadow-sm">#}
{##}
{#                                {% with first_image=album.images.all|first %}#}
{#                                    <a href="{% url 'album:album_detail' album.id %}"#}
{#                                       style="position: relative; display: inline-block;">#}
{#                                        <img src="{{ first_image.image.url }}" width="100%" alt="">#}
{#                                    </a>#}
{#                                {% endwith %}#}
{##}
{#                                <div class="card-body">#}
{##}
{#                                    <div class="d-flex justify-content-between">#}
{#                                        <p class="card-text fw-bold">#}
{#                                            <a href="{% url 'album:album_detail' album.id %}"#}
{#                                               style="text-decoration: none; color: #ffc107;">#}
{#                                                {{ album.title }}#}
{#                                            </a>#}
{#                                        </p>#}
{##}
{#                                        <a href="{% url 'user_detail' album.author %}" style="text-decoration: none">{{ album.author }}</a>#}
{#                                    </div>#}
{##}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <small class="text-muted">{{ album.total_views }} view{{ album.total_views|pluralize }}</small>#}
{##}
{#                                        {% with album.comments.count as total_comments %}#}
{#                                            <span class="text-muted"><i class="fa-solid fa-comment-dots"></i> {{ total_comments }}</span>#}
{#                                        {% endwith %}#}
{##}
{#                                        {% with total_likes=album.users_like.count users_like=album.users_like.all %}#}
{#                                            <span class="count">#}
{#                                                <span class="total">{{ total_likes }}</span>#}
{#                                                <i class="fa-solid fa-heart text-danger"></i>#}
{#                                            </span>#}
{#                                        {% endwith %}#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    {% endif %}#}
{##}
{#                {% endfor %}#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}