{% load static %}
{% load thumbnail %}

<div class="album">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 justify-content-center">
            {% for album in albums %}
                
                {% if request.user == user %}
                    {% with first_image=album.images.all|first %}
                        <div class="col">
                            <div class="card-group">
                                <div class="card mt-3">
                                
                                    <a href="{% url 'album:album_detail' album.id %}">
                                        {% if first_image %}
                                            <img src="{% thumbnail first_image.image 200x200 crop="smart" %}" alt="">
                                        {% else %}
                                            <img src="{% static 'images/no_image.jpg' %}" alt="">
                                        {% endif %}
                                    </a>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text fw-bold">
                                                <a href="{% url 'album:album_detail' album.id %}"
                                                   style="text-decoration: none; color: #ffc107;">{{ album.title }}</a>
                                            </p>
                                            {% if album.get_status_display == 'Public' %}
                                                <small class="fw-medium" style="text-decoration: none; color: #20c997;">{{ album.get_status_display }}</small>
                                            {% else %}
                                                <small class="fw-medium" style="text-decoration: none; color: #dc3545;">{{ album.get_status_display }}</small>
                                            {% endif %}
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <small class="text-muted">{{ album.total_views }} view{{ album.total_views|pluralize }}</small>
                                            {% with album.comments.count as total_comments %}
                                                <span class="text-muted">{{ total_comments }} <i class="fa-solid fa-comment fa-sm"></i></span>
                                            {% endwith %}
                                            {% with total_likes=album.users_like.count users_like=album.users_like.all %}
                                                <span class="count">
                                                    <span class="total">{{ total_likes }}</span>
                                                    <i class="fa-solid fa-heart text-danger"></i>
                                                </span>
                                            {% endwith %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    
                {% elif album.status == 'PB' %}
                    {% with first_image=album.images.all|first %}
                        <div class="col">
                            <div class="card-group">
                                <div class="card mt-3">

                                    <a href="{% url 'album:album_detail' album.id %}">
                                        {% if first_image %}
                                            <img src="{% thumbnail first_image.image 200x200 crop="smart" %}" alt="">
                                        {% else %}
                                            <img src="{% static 'images/no_image.jpg' %}" alt="">
                                        {% endif %}
                                    </a>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text fw-bold">
                                                <a href="{% url 'album:album_detail' album.id %}"
                                                   style="text-decoration: none; color: #ffc107;">{{ album.title }}</a>
                                            </p>
                                            <p class="text-secondary">{{ album.author }}</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <small class="text-muted">{{ album.total_views }} view{{ album.total_views|pluralize }}</small>
                                            {% with album.comments.count as total_comments %}
                                                <span class="text-muted">{{ total_comments }} <i class="fa-solid fa-comment fa-sm"></i></span>
                                            {% endwith %}
                                            {% with total_likes=album.users_like.count users_like=album.users_like.all %}
                                                <span class="count">
                                                    <span class="total">{{ total_likes }}</span>
                                                    <i class="fa-solid fa-heart text-danger"></i>
                                                </span>
                                            {% endwith %}
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
                
            {% endfor %}
        </div>
    </div>
</div>