{% extends 'base.html' %}
{% load static %}

{% block title %}
	Password changed
{% endblock %}

{% block content %}
    <div class="container border border-start-0 border-end-0 border-bottom-0">
        <div class="row">
            <div class="col-md-3 border-light">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if request.user.profile.photo %}
                        <img id="preview" class="rounded-circle mt-5" width="200px"
                             src="{{ request.user.profile.photo.url }}" alt="">
                    {% else %}
                        <img id="preview" class="rounded-circle mt-5" width="150px"
                             src="{% static 'images/no_image.jpg' %}" alt="">
                    {% endif %}
                    <span class="font-weight-bold">{{ request.user.username }}</span>
                    <span class="text-white-50">{{ request.user.email }}</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-dark py-5">
                <div class="card bg-dark text-white py-4" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h4 class="text-warning mb-5">Password has been changed</h4>
                        </div>
                        <a class="btn btn-primary" href="{% url 'edit' %}" role="button">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}