{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
	Change password
{% endblock %}o %}

{% block content %}
	<section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Change password</h2>
                                <p class="text-white-50 mb-5">Use the following form to change your password</p>
                                <div class="mb-3">
                                   <form action="{% url 'password_change' %}" method="post" class="form">
                                        {% csrf_token %}
                                        {% bootstrap_form form show_help=False %}
                                        {% bootstrap_button "Change" button_type="submit"%}
                                   </form>
                                </div>
                                <p>
                                    <a class="text-white-50" href="{% url 'password_reset' %}">Forgot password?</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}