{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    {% if validlink %}
    	Change password
    {% else %}
    	Invalid link
    {% endif %}
{% endblock %}o %}

{% block content %}
    <div class="container py-5 border border-start-0 border-end-0 border-bottom-0">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        {% if validlink %}
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Change password</h2>
                                <p class="text-white-50 mb-5">Enter your new password twice</p>
                                <form method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form show_help=False show_label=False %}
                                    {% bootstrap_button button_type="submit" content="Save" size='lg' extra_classes='px-5' button_class="btn-outline-light" %}
                                </form>
                            </div>
                        {% else %}
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Invalid link</h2>
                                <p class="text-white-50 mb-5">The reset password link is no longer valid</p>
                            </div>
                            <p class="mb-0">Request a new<a href="{% url 'password_reset' %}" class="text-primary-50 fw-bold" style="text-decoration: none;"> LINK</a></p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}