{% extends 'base.html' %}

{% block title %}
	Email sent
{% endblock %}

{% block content %}
    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Email sent</h2>
                                <p></p>
                                <br>
                                <p class="text-white-50 mb-5">
                                    We've emailed you instructions for setting new password
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}