{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load thumbnail %}

{% block title %}
	Album details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tm-img-gallery gallery-one">
                    <div class="tm-img-gallery-info-container">
                        <h2 class="tm-text-title tm-gallery-title tm-white">
                            <span class="tm-white">{{ album.title }}</span>
                        </h2>
                        <br>
                        <p class="tm-textx">Author: {{ album.author }}</p>
                        <p class="tm-text">Updated: {{ album.update }}</p>
                        <p class="tm-text">{{ album.get_status_display }}</p>
                        <p class="tm-text">{{ request.user }}</p>
                        {% if request.user == album.author %}
                            <form action="{% url 'album:album_detail' album.id %}" method="post" class="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form add_image_form %}
                                {% bootstrap_button "Add" button_type="submit" %}
                            </form>
                        {% endif %}
                    </div>
                    <div style="display: flex; flex-wrap: wrap;">
                       {% for image in album.images.all %}
                           {% if image.image %}
                               <div style="flex: 0 0 14%; margin: 1em; text-align: center; border: 1px solid #6f42c1; position: relative;">
                                    <a href="{{ image.image.url }}">
                                        <img src="{% thumbnail image.image 300x0 quality=100 %}" alt="Image" class="img-fluid tm-img">
                                    </a>
                                    <div style="display: flex; justify-content: space-between;">
                                        <form action="{% url 'album:image_download' image.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" href="{% url 'album:image_download' image.id %}" class="text-primary-emphasis" style="background: none; border: none; font-size: 25px" title="Download image">
                                                <i class="fa-solid fa-circle-down"></i>
                                            </button>
                                        </form>
                                        {% if request.user == album.author %}
                                            <form action="{% url 'album:image_delete' image.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" href="{% url 'album:image_delete' image.id %}" class="text-danger-emphasis" style="background: none; border: none; font-size: 25px" title="Delete image">
                                                    <i class="fa-solid fa-circle-xmark"></i>
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                               </div>
                           {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
