{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
	Edit album
{% endblock %}

{% block content %}
    <section>
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Edit album</h2>
                                <p class="text-white-50 mb-5">Use the following form to edit album</p>
                                <form action="{% url 'album:album_edit' album.id %}" method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% bootstrap_button "Save" button_type="submit" %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}