{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load static %}

{% block title %}
	Subscriptions
{% endblock %}

{% block content %}
    <div class="container py-2">
        {% for action in actions %}
            {% if action.target is not None and action.target.status != 'PR' %}
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-6">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <div class="d-flex flex-start align-items-center">
                                        {% with user=action.user profile=action.user.profile %}
                                            
                                            {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                                                <a href="{% url 'user_detail' user %}">
                                                    <img class="item-img rounded-circle shadow-1-strong me-3" src="{{ im.url }}" alt=""/>
                                                </a>

                                            <div class="w-100">
                                                <p class="mb-0 ms-3">
                                                    <a class="fw-bold" href="{% url 'user_detail' user %}" style="text-decoration: none; color: #ffda6a">{{ user }}</a>
                                                    <span>{{ action.verb }}</span>
                                                </p>
                                                {% with target=action.target %}
                                                    <a class="ms-3" href="{% url 'album:album_detail' target.id %}" style="text-decoration: none">{{ target }}</a>
                                                {% endwith %}
                                            </div>
                                            
                                            <small class="text-secondary mb-0">{{ action.created|naturalday }}</small>

                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}