{% extends 'base.html' %}
{% load static %}

{% block title %}
	Main page
{% endblock %}

{% block content %}
    
    <section class="py-5 text-center text-warning container border border-start-0 border-end-0">
        <div class="row py-lg-5">
            <div class="col-lg-8 col-md-8 mx-auto">
                <h1 class="fw-light">Create albums and share them with everyone</h1>
            </div>
        </div>
    </section>

    <div id="albums-list">
        {% include 'album/list.html' %}
    </div>
    
{% endblock %}


{% block domready %}
    window.addEventListener('scroll', function (e) {
        const margin = document.body.clientHeight - window.innerHeight - 200;
        if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;

        fetch('?albums_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                }
                else {
                    const albumList = document.getElementById('albums-list');

                    albumList.insertAdjacentHTML('beforeend', html);
                    setupGallery();
                    blockRequest = false;
                }
            })
        }
    });
{% endblock %}