{% extends 'base.html' %}
{% load static %}

{% block title %}
	Main page
{% endblock %}

{% block content %}
    <div class="album">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="display: flex; flex-wrap: wrap; justify-content: center">
                        {% for album in posts %}
                            <div style="flex: 0 0 20%; margin: 1em; text-align: center;">
                                <div class="card shadow-sm">
                                    {% with first_image=album.images.all|first %}
                                        <a href="{% url 'album:album_detail' album.id %}" style="position: relative; display: inline-block;">
                                            <img src="{{ first_image.image.url }}" width="100%" alt="">
                                            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; background: rgba(0, 0, 0, 0.5); padding: 10px;">
                                                View album
                                            </div>
                                        </a>
                                    {% endwith %}
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text">{{ album.title }}</p>
                                            <a href="{% url 'user_albums' album.author.id %}">{{ album.author }}</a>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">{{ album.publish|date:"F d, Y" }}</small>
                                            <div class="btn-group">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if posts.has_other_pages %}
        {% include 'pagination.html' with page=posts %}
    {% endif %}
{% endblock %}