{% extends 'base.html' %}
{% load static %}

{% block title %}
	Main page
{% endblock %}


{% block content %}

    <div id="albums-list">
        {% include 'album/list.html' %}
    </div>

{% endblock %}


{% block domready %}

    window.addEventListener('scroll', function (e) {
        const margin = document.body.clientHeight - window.innerHeight - 200;
        if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;

        fetch('?albums_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                }
                else {
                    const albumList = document.getElementById('albums-list');

                    albumList.insertAdjacentHTML('beforeend', html);
                    setupGallery();
                    blockRequest = false;
                }
            })
        }
    });

{% endblock %}